@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:wght@100&display=swap');


@font-face {
  font-family: 'TEST';
  src: url('../fonts/TestSohneBreit-Buch-BF663d89ca2ff42.otf') format('opentype');
}

@font-face {
  font-family: 'TEST2';
  src: url('../fonts/TestSohneBreit-Dreiviertelfett-BF663d89c955618.otf') format('opentype');
}

@font-face {
  font-family: 'TEST3';
  src: url('../fonts/TestSohneBreit-Extrafett-BF663d89ca5b44e.otf') format('opentype');
}

@font-face {
  font-family: 'TEST4';
  src: url('../fonts/TestSohneBreit-Extraleicht-BF663d89cd9eb84.otf') format('opentype');
}

@font-face {
  font-family: 'TEST5';
  src: url('../fonts/TestSohneBreit-Fett-BF663d89ca84caa.otf') format('opentype');
}

@font-face {
  font-family: 'TEST6';
  src: url('../fonts/TestSohneBreit-Halbfett-BF663d89cacf645.otf') format('opentype');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;
}



.hero {
  position: relative;
  height: 75vh;
  overflow: hidden;

}

.hero-bg {
  background-image: url('../assets/image1.png');
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}




.hero-logo {
  width: 481px;
  margin: 10px auto;

}


@media (max-width: 992px) {
  .hero {
    height: 60vh;
  }

  .hero-logo {
    max-width: 300px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }

  .hero-logo {
    max-width: 280px;
  }
}

@media (max-width: 576px) {

  .hero-logo {
    width: 300px;
  }
}



.map-heading {

  font-size: 42px !important;
  margin-bottom: 40px !important;
  font-weight: 700 !important;
  font-family: "TEST2", Arial, sans-serif !important;
  line-height: 55px;
}




.map-section {

  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding-bottom: 30px;
  background: #11172E;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: -74px;
}


.map-wrapper {
  background: url('../assets/Capa\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  margin-top: -48px;
  padding-top: 50px;}

.map-img {
  width: 1000px;
  height: 678px;
}

.all-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}



.map-number {

  font-size: 80px;
  background: linear-gradient(90deg, #7187E8, #5064BA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "TEST5", Arial, sans-serif !important;
  font-weight: 600 !important;
}

.map-para {
  font-size: 27px;
  font-family: "TEST", Arial, sans-serif !important;
  font-weight: 400 !important;
  color: rgba(220, 224, 238, 1);
  line-height: 100%;
}



@media (max-width: 992px) {
  .map-number {
    font-size: 60px;
  }

  .map-para {
    font-size: 22px;
  }

  .map-heading {
    font-size: 20px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 768px) {
  .map-number {
    font-size: 45px;
  }

  .map-para {
    font-size: 18px;
  }

}

@media (max-width: 576px) {
  .map-number {
    font-size: 25px;
  }

  .map-para {
    font-size: 10px;
  }

  .all-number {
    gap: 10px;
    padding-bottom: 30px;
  }
}



.third-section {

  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: -110px;
  margin-bottom: -40px;
  position: relative;
  background-color: white;
}




.section-title {
  font-size: 42px;
  margin-bottom: 20px;
  font-family: "TEST2", Arial, sans-serif;
  font-weight: 700;
  line-height: 55px;
}

.country-card {
  border: 1px solid #EFEFEF;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: "Instrument Sans", sans-serif !important;
  font-weight: 600;

}

.country-card h6 {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #FBFBFB;
  padding: 15px;
}

.head-line {
  font-family: "TEST2", Arial, sans-serif;
  font-weight: 700;
  font-size: 27px;
}

.country-card img {
  width: 30px;
  height: auto;
}

.country-card span {
  color: #007bff;

}

.country-card a {
  color: rgb(144, 144, 144);
  display: block;
  text-decoration: none;
}

.country-card a:hover {
  text-decoration: underline;
}

.country-links {
  font-size: 18px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: -10px;
}


.search-box {
  position: relative;
  max-width: 300px;
  margin-left: auto;
}

.search-box input {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  border: 1px solid #ccc;
  width: 100%;
}

.search-box .bi-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
  pointer-events: none;
}



.support-section {
  position: relative;
  border-radius: 40px;
  padding: 60px 0px 30px 30px;
  overflow: hidden;
  width: 100%;

}

.support-bg {
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  height: 100%;
}

.support-box {
  border-radius: 15px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.support-box p {
  font-size: 22px;
  font-family: "Instrument Sans", sans-serif !important;
  font-weight: 600;
  color: #686B76;

}

.support-title {
  font-weight: 800;
  font-size: 32px;
  color: #1a1a1a;
  width: 100%;
  font-family: "TEST3", Arial, sans-serif;

}

.btn-support {
  background-color: #1a1a1a !important;
  color: #fff !important;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 18px !important;
  border-radius: 20px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.btn-support:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.btn-emergency {
  background-color: #fff !important;
  color: #d32f2f !important;
  border-radius: 25px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;


}

.btn-support img {
  width: 16px;
  height: auto;
  margin-right: 4px;
}


.btn-emergency img {
  width: 16px;
  height: auto;
  margin-right: 4px;
}

.btn-emergency:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.btn-emergency:hover {
  background-color: #d32f2f;
}



@media (max-width: 992px) {

  .section-title {
    font-size: 22px;
  }

  .head-line {
    font-size: 22px;
  }

  .country-card h6 {
    font-size: 18px;

  }

  .country-links {
    font-size: 16px;
    height: auto;
    padding: 10px;
  }

  .search-box {
    max-width: 100%;
    margin: 15px auto;
  }

  .support-title {
    font-size: 26px;
    text-align: center;
  }

  .support-box p {
    font-size: 18px;
    text-align: center;
  }

  .btn-support,
  .btn-emergency {
    font-size: 16px !important;
    padding: 8px 20px !important;
  }

}

@media (max-width: 576px) {

  .third-section {
    border-radius: 30px;
  }



  .head-line {
    font-size: 20px;
  }

  .country-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .country-card h6 {
    font-size: 16px;
    padding: 10px;
  }

  .country-links {
    font-size: 14px;
    height: auto;
  }

  .search-box {
    max-width: 100%;
  }

  .support-section {
    flex-direction: column;
    text-align: center;
    padding: 30px 15px;
  }

  .support-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .support-box p {
    font-size: 14px;
  }

  .btn-support,
  .btn-emergency {
    width: 100% !important;
    font-size: 14px !important;
  }
}


.footer {
  background: #f1f3fa;
  padding: 50px 15px;
}

.footer img {
  margin: 10px 15px;

}


.footer a {
  color: #333333;
  font-weight: 600;
  margin: 0 10px;
  font-size: 16px;
  text-decoration: underline;
  font-family: "Instrument Sans", sans-serif !important;
  font-weight: 600;

}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 16px;
  color: #7C7C7C;
  margin-top: 25px;
  margin-bottom: 0;
  font-family: "Instrument Sans", sans-serif !important;
  font-weight: 600;

}



@media (max-width: 675px) {

  .foot-center {
    flex-direction: column !important;
    align-items: center !important;
  }

}